.statusbar-overlay {
    background: #000000;
}
.panel, .navbar{
	background: #f5f5f5;
}
.navbar a.link{
	color:#999;
}
.navbar .sliding{
	color:#333;
}
.list-block {
    margin: 43px 0;
}
.page {
    background: #FFF;
}
.marcas{
	width:100%;
}
.swiper-custom {
  position:relative;
}
.swiper-container {
}
.swiper-slide {
  background: #fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.row > div{
	background:#EEE;
}
.content-texto{
	padding:15px;
}
.text-right{
	text-align:right;
}
.navbar a.link i+i, .navbar a.link i+span, .navbar a.link span+i, .navbar a.link span+span, .subnavbar a.link i+i, .subnavbar a.link i+span, .subnavbar a.link span+i, .subnavbar a.link span+span, .toolbar a.link i+i, .toolbar a.link i+span, .toolbar a.link span+i, .toolbar a.link span+span {
    margin-left: 7px;
}
.card {
    background-color: #fff;
    margin: 15px 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    box-shadow: none;
}
.card .card-header {
    padding: 10px;
    padding-bottom: 5px;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
}
.card .card-header .avatar, .card .card-header .avatar>img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 9px;
}
.card .card-header .user {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.card .card-header .user .name {
    color: #ff9630;
    font-weight: 700;
    font-size: 14px;
}
.card .card-content {
    padding: 5px 10px;
    position: relative;
}
.card-footer {
    border-radius: 0 0 2px 2px;
    color: #6d6d72;
}
.card-footer:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #e1e1e1;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.card-footer a.link, .card-header a.link {
    line-height: 44px;
    height: 44px;
    text-decoration: none;
    position: relative;
    margin-top: -10px;
    margin-bottom: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.card .card-footer {
    min-height: 50px;
    padding: 0;
}
.card .card-footer .tool.tool-border {
    border-right: 1px solid #e1e1e1;
}
.card .card-footer a.link {
    line-height: 35px;
    height: 35px;
}
.card .card-footer .tool {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.card .card-footer .tool>span {
    vertical-align: middle;
}
.card .card-footer .tool .text {
    font-size: 13px;
}
.flex-row {
    display: flex!important;
    flex-direction: row;
}
.flex-row .flex-rest-width {
    flex: 1;
    width: auto;
}
.navbar a.link, .subnavbar a.link, .toolbar a.link {
    line-height: 44px;
    height: 44px;
    text-decoration: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
	
}
.custom-toolbar .toolbar-inner .tool {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.custom-toolbar .tool>span, .custom-toolbar .tool>i {
    color: #6d6d78;
    vertical-align: middle;
}
.custom-toolbar .tool.tool-border {
    border-right: 1px solid #e1e1e1;
}
.descripcion_larga{
}
.open-panel{
	min-width:28px;
}
.toolbar a{
	color:#555;
}
select.rightselect { text-align-last: right; text-align: right; direction: rtl;}
select.rightselect option { direction: rtl; }

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
input[name="modal-password"]{
	margin-bottom:20px;
}
.olvidehref{
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0;
	top: 158px;
}
/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}
.swiper-button-prev,
.swiper-button-next{
	background-image:none;
    line-height: 44px;
	color:#000;
	font-size:20px;
}
.MarcasContainer div{
	background-color:#FFF;
}
.MarcasContainer img{
	border:solid 1px #feb799;
	border-radius:15px;
}
.MarcasContainer{
	padding:0 5px;
}
.toolbar a {
    margin: auto;
}
.toolbar-inner{
	padding:0;
}
.tab-sup{
	height:4px;
	background-color:#ff6a2b;
	position:absolute;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.list-block .item-content{
	padding-left:0;
}
.list-block .item-content > *{
	padding-left: 15px;
}
.card{
	border-color: #ff6a2b;
}
.card-header:after,
.list-block ul:before,
.list-block ul:after,
.list-block .item-inner:before,
.list-block .item-inner:after{
	background-color: #ff6a2b;
}
.list-block .item-inner{
    padding-top: 0;
    padding-bottom: 0;
}
.list-block .item-title.label {
    width: auto;
}
.list-block .item-input-wrap{
    width: 100%;
}
.list-block .item-after,
.list-block .item-input-wrap,
.list-block .item-input-wrap > *{  
	text-align-last: left;
    text-align: left;
    direction:inherit;
	width: 100%;
}
.list-block .item-input-wrap > select,  
.list-block .item-input-wrap > input{  
	margin-top: 1px;
	margin-left: 2px;
}
.list-block .item-input{
    margin-top: 0px;
    margin-bottom: 0px;
}
.card-footer a{
    background-color: #ff6a2b;
    color: #fff;
    border-radius: 15px;
    margin: 0px 10px;
}

.modal-title{		
    width: fit-content;
    margin: auto;
    padding: 0 10px 3px 10px;
    border-bottom: solid 2px #ff6a2b;
}
.modal-inner{
    border: solid 1px #ff6a2b;
    border-bottom: 0;
}
.modal-buttons{
    border: solid 1px #ff6a2b;
    border-top: 0;	
	height: auto;
}
.modal-buttons.modal-buttons-1,
.modal-buttons.modal-buttons-2{
    background-color: #fff;
    padding: 10px;
}
.modal-buttons.modal-buttons-1 .modal-button,
.modal-buttons.modal-buttons-2 .modal-button{
    border-radius: 13px;
    background-color: #ff6a2b;
    color: #FFF;
    height: 38px;
    line-height: 38px;
    margin: 0 5px;
}
.modal-buttons.modal-buttons-vertical{
    background-color: #fff;
    padding: 15px;
}
.modal-buttons-vertical .modal-button {
    border-radius: 0;
    background-color: #ff6a2b;
    color: #FFF;
}
.modal-buttons-vertical .modal-button:first-child {
    border-radius: 13px 13px 0 0 !important;
}
.modal-buttons-vertical .modal-button:last-child {
    border-radius: 0 0 13px 13px !important;
}

.nosidebar .navbar .navbar-inner .right{
	display:none !important;
}
.toolbar-inner .icon{
    width: 30px;
	padding:0 10px;
    height: 100%;
    background-size: 60% 60%;
	background-position:center center;
    background-repeat: no-repeat;
}
.icon_qr .icon{	background-image: url("../img/iconos/QR.svg"); }
.icon_qr.tab-link-active .icon{	background-image: url("../img/iconos/active/QR.svg"); }

.icon_promos .icon{	background-image: url("../img/iconos/Promos.svg"); }
.icon_promos.tab-link-active .icon{	background-image: url("../img/iconos/active/Promos.svg"); }

.icon_canjes .icon{	background-image: url("../img/iconos/Canjes.svg"); }
.icon_canjes.tab-link-active .icon{	background-image: url("../img/iconos/active/Canjes.svg"); }

.icon_tiendas .icon{	background-image: url("../img/iconos/Tiendas.svg"); }
.icon_tiendas.tab-link-active .icon{	background-image: url("../img/iconos/active/Tiendas.svg"); }

.icon_user .icon{	background-image: url("../img/iconos/Usuario.svg"); }
.icon_user.tab-link-active .icon{	background-image: url("../img/iconos/active/Usuario.svg"); }